@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: #1F2128;
    list-style: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

body{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 370px;
    height: 326px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 8px 15px 0px #1414141F,
     0px 0px 4px 0px #1414141A;
}

.container ul {
    width: 100%;
    height: 164px;
}

.hr{
    width: 370px;
    height: 20px;
    padding: 10px 15px;

}

hr {
    margin: 0 auto;
    border: none;
    height: 0.5px;
    background-color: #CDCDCD;
}
  

.container h1 , .container ul li{
    width: 100%;
    height: 42px;
    padding: 8px 15px 8px 22px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 23px;
    height: 23px;
    border: 1px solid #CDCDCD;
    border-radius: 6px;
    cursor: pointer;
}

.container input[type="checkbox"]:checked {
    background-color: #2469f6;
    border-color: #3879fc;
}
  
.container input[type="checkbox"]:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
}

.container span{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .button{
    width: 100%;
    padding: 0 15px;
    
}
.container button{
    background-color: #FFCE22;
    padding: 10px 20px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.container button:hover{
    background-color: #f9d553;
}